In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
Title_Train = pd.read_csv('Title_Train.csv')
Title_Train

,title,title_tokens
0,Senior Search Partner Manager,"['senior', 'search', 'partner', 'manager']"
1,Head of Proposals,"['head', 'proposal']"
2,EURO Broadcast Venue Manager,"['euro', 'broadcast', 'venue', 'manager']"
3,(m/f) TEMP - Receptionist,"['temp', 'receptionist']"
4,Corporate Accountant  Tempo Mission  Sun system,"['corporate', 'accountant', 'tempo', 'mission'..."
...,...,...
30307,CSV/IT Auditor - CONTRACT START TH AUG! - Swit...,"['csv', 'auditor', 'contract', 'start', 'aug',..."
30308,DB LUW Consultant,"['luw', 'consultant']"
30309,Project administration assisstant,"['project', 'administration', 'assisstant']"
30310,Verpackungsmitarbeiterin Reinraum,"['verpackungsmitarbeiterin', 'reinraum']"
30311,RFID Field Application Engineer,"['rfid', 'field', 'application', 'engineer']"

In [3]:
# Load green and non green titles
green_titles = pd.read_csv('GreenTitles.csv', usecols=['Titles'])
green_titles

non_green_titles = pd.read_csv('NonGreenTitles.csv', usecols=['Titles'])
non_green_titles

                Titles
0           accountant
1           accounting
2              actuary
3       administrative
4        admnistration
..                 ...
63  telephone operator
64              waiter
65            waitress
66    weapons research
67            worksite

[68 rows x 1 columns]

In [4]:
# Drop title duplicates if any (usually not)
Title_Train = Title_Train.drop_duplicates(subset=['title'], ignore_index = True)

In [5]:
# Label data
green = np.zeros(Title_Train['title_tokens'].shape[0])

for i in range(Title_Train['title_tokens'].shape[0]):
    Title_Train['title_tokens'].iloc[i]=Title_Train['title_tokens'].iloc[i].replace('[', '').replace(']', '').replace("'", '')
    for j in range(green_titles['Titles'].shape[0]):
        if all(word in Title_Train['title_tokens'].iloc[i].split(', ') for word in green_titles['Titles'].iloc[j].split(' ')):
            green[i]=1
        
    for j in range(non_green_titles.shape[0]):
        if all(word in Title_Train['title_tokens'].iloc[i].split(', ') for word in non_green_titles['Titles'].iloc[j].split(' ')) & (green[i]!=1):
            green[i]=-1
            
        elif all(word in Title_Train['title_tokens'].iloc[i].split(', ') for word in non_green_titles['Titles'].iloc[j].split(' ')) & (green[i]==1):
            print("Ambiguous title set to 0 :")
            print(Title_Train['title'].iloc[i])
            green[i]=0
            

Title_Train['green_title'] = green

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Ambiguous title set to 0 :
Life Actuary
Ambiguous title set to 0 :
Marketing Trainee (Neuroscience/Cardio-Metabolic) %
Ambiguous title set to 0 :
Non-Life Actuary
Ambiguous title set to 0 :
Actuary Individual Life
Ambiguous title set to 0 :
Software Developer - Medical Imaging
Ambiguous title set to 0 :
Actuary Health
Ambiguous title set to 0 :
Pricing Actuary Non-Life
Ambiguous title set to 0 :
Member of Advisory Board, Health Insurance (Consultant)
Ambiguous title set to 0 :
Actuary Non-Life
Ambiguous title set to 0 :
Marketing Manager, Pharma
Ambiguous title set to 0 :
Marketing - Sales manager (Life Science products)
Ambiguous title set to 0 :
Group Safety, Health and Environmental Auditor
Ambiguous title set to 0 :
Senior Actuary - Health
Ambiguous title set to 0 :
Junior Marketing Manager Europe - Dental Industry (100% - w/m)
Ambiguous title set to 0 :
Software Validation Engineer - CSV - Swiss Pharma
Ambiguous title set to 0 :
Administrative Assistant, Clinical Operations CNS & Metabolism
Ambiguous title set to 0 :
Marketing & Sales Assistant % (with Education in Life Science (m/f))
Ambiguous title set to 0 :
Senior Life Actuary
Ambiguous title set to 0 :
Pricing Actuary - Life
Ambiguous title set to 0 :
Student Internship in Finance Pharma Technical Operations
Ambiguous title set to 0 :
Medical Marketing Manager - Technical background - Switzerland
Ambiguous title set to 0 :
Administrative Assistant to the Medical Scientific Affairs and Merger & Acquisition groups
Ambiguous title set to 0 :
Chemical Marketing Representative
Ambiguous title set to 0 :
Junior Life Actuary
Ambiguous title set to 0 :
QC Auditor - Medical Device f/m
Ambiguous title set to 0 :
Senior Business Analyst in Clinical Trials Finance & Sourcing
Ambiguous title set to 0 :
Actuary Group Life
Ambiguous title set to 0 :
Software Architect - Medical Devices
Ambiguous title set to 0 :
Quality Auditor - Pharma
Ambiguous title set to 0 :
Group Life Actuary
Ambiguous title set to 0 :
Software programmer for Digital Health Apps
Ambiguous title set to 0 :
Medical Physicist / Software Testing Professional
Ambiguous title set to 0 :
Senior Financial Analyst, Life & Health
Ambiguous title set to 0 :
Auditor EHS Chemical/Textile/Environmental Engineer
Ambiguous title set to 0 :
Senior Actuary Group Life
Ambiguous title set to 0 :
Chemical Broker
Ambiguous title set to 0 :
Reserving Actuary Life
Ambiguous title set to 0 :
SENIOR PHYSICAL ENERGY TRADER (Gasoline, Oil products, Chemicals, Bio diesel)
Ambiguous title set to 0 :
Actuary - Health Sector
Ambiguous title set to 0 :
Student Internship in Pharma Finance Business Planning Team ( to months)
Ambiguous title set to 0 :
Non-Life Reserving Actuary
Ambiguous title set to 0 :
Senior Sustainability Consultant - Green Finance Lead
Ambiguous title set to 0 :
Actuar Insurance Life (m/f)
Ambiguous title set to 0 :
Student Internship in Pharma Finance Business
Ambiguous title set to 0 :
PHYSICAL ENERGY TRADER (Gasoline, Oil products, Chemicals, Bio diesel)
Ambiguous title set to 0 :
Life Pricing Actuary
Ambiguous title set to 0 :
Sr Administrative Assistant - Medical Affairs
Ambiguous title set to 0 :
OO-Development/Java/C++/C#/.Net/Pharma/Software Developer

/tmp/ipykernel_287/941462363.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Title_Train['green_title'] = green

In [6]:
Title_Train[['title', 'green_title']]

                                                   title  green_title
0                          Senior Search Partner Manager          0.0
1                                      Head of Proposals          0.0
2                           EURO Broadcast Venue Manager          0.0
3                              (m/f) TEMP - Receptionist         -1.0
4      Corporate Accountant  Tempo Mission  Sun system         -1.0
...                                                  ...          ...
16188                             Junior Lawyer - urgent          0.0
16189  Launch Excellence and Strategic Planning Lead ...          1.0
16190                    Avionic Engineer JAR B Licensed          0.0
16191                  Project administration assisstant          0.0
16192                    RFID Field Application Engineer          0.0

[16193 rows x 2 columns]

In [7]:
# Save labeled data 
Title_Train[['title', 'green_title']].to_csv('Title_Train_Label.csv')

In [8]:
Title_Train[Title_Train['green_title']==-1]

,title,title_tokens,green_title
3,(m/f) TEMP - Receptionist,"temp, receptionist",-1.0
4,Corporate Accountant  Tempo Mission  Sun system,"corporate, accountant, tempo, mission, sun, sy...",-1.0
17,Accounts payable accountant,"account, payable, accountant",-1.0
18,Performance Marketing Manager ( m/f- %),"performance, marketing, manager",-1.0
19,Accountant ( English & French ),"accountant, english, french",-1.0
...,...,...,...
16153,Temporary Office Support Clerk,"temporary, office, support, clerk",-1.0
16154,Group Finance Manager (m/f),"group, finance, manager",-1.0
16165,Senior Financial Risk Manager,"senior, financial, risk, manager",-1.0
16175,Java / Sonic ESB Software Entwickler,"java, sonic, esb, software, entwickler",-1.0
16181,Software Developer (100%) W/M,"software, developer, 100",-1.0

In [9]:
Title_Train[Title_Train['green_title']==1]

,title,title_tokens,green_title
93,Chemiker Qualitätssicherung R&D,"chemiker, qualitätssicherung, r&d",1.0
95,"Expert, Process Intelligence for Pharma Inform...","expert, process, intelligence, pharma, informatic",1.0
107,"Bachelor Student in Life Sciences, Medicine or...","bachelor, student, life, science, medicine, en...",1.0
109,Medical Device Development Engineer f/m,"medical, device, development, engineer",1.0
131,Lab technician Organic Chemistry,"lab, technician, organic, chemistry",1.0
...,...,...,...
16071,Trial Forecasting & Resource Management (Drug ...,"trial, forecasting, resource, management, drug...",1.0
16093,Global Medical Lead Hemophiliia A & Lifecycle ...,"global, medical, lead, hemophiliia, lifecycle,...",1.0
16164,"Health, Safety and Environment (HSE) Manager %","health, safety, environment, hse, manager",1.0
16182,Mass Spec Analyst - Large Pharma Company - Basel,"mass, spec, analyst, large, pharma, company, b...",1.0
16189,Launch Excellence and Strategic Planning Lead ...,"launch, excellence, strategic, planning, lead,...",1.0